#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
# Running all the Perl tests takes a *long* time
export DEB_BUILD_OPTIONS=nocheck

myinfo:
	@echo "MYINFO- DH_VERBOSE=$(DH_VERBOSE)"
	@echo "MYINFO- DESTDIR=$(DESTDIR)"

clean:
	dh_testdir
	dh_auto_clean
	rm -f debian/myperl.substvars
	rm -f debian/myperl.*.debhelper
	rm -rf debian/myperl/
	rm -f debian/*.debhelper.log
	rm -f debian/files
	find .  \( \( -type f -a \
	        \( -name '#*#' -o -name DEADJOE \
		 -o -name '*.orig' -o -name '*.rej' -o -name '*.bak' \
		 -o -name '.*.orig' -o -name .*.rej -o -name '.SUMS' \
		 -o -name TAGS -o \( -path '*/.deps/*' -a -name '*.P' \) \
		\) -exec rm -f {} \; \) -o \
		\( -type d -a -name autom4te.cache -prune -exec rm -rf {} \; \) \)
	rm -f *-stamp

build:
	dh_testdir
	# Instead of dh_auto_configure...
	./Configure -des \
		-Dprefix=$(DESTDIR)/opt/myperl \
		-Duseshrplib
	dh_auto_build
	#dh_auto_test	# make -j1 test

%:
	dh $@ 
